<!-- bookings insert -->
<template name='bookingsInsert'>

    {{#autoForm collection="bookings" schema="bookingsSchema" id="bookingsInsertForm" type="method" meteormethod="bookingsInsert"}}
  <fieldset>
    <legend>Add a Booking</legend>
    {{> afQuickField name='factor'}}
    <p><strong>Category ID</strong></p>
    {{> afFieldInput type='select' name='cat_id' options=catOptions}}
      <p><strong>Area ID</strong></p>
    {{> afFieldInput type='select' name='area_id' options=areaOptions}}
        <p><strong>TX ID</strong></p>
    {{> afFieldInput type='select' name='tx_id' options=transactionsOptions}}
  </fieldset><br>
  <button type="submit" class="btn btn-primary">Insert</button>
  <hr>
   {{/autoForm}}
</template>
